html, body {
  background-color: #F8F8F8;
}

.navbar {
  background-color: #8B008B !important;
}

.navbar .navbar-brand {
  color: #FFF;
}

.navbar .navbar-brand:hover {
  color: #FFF;
}

.navbar .navbar-nav li a {
  color: #FFF !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
  color: #8B008B !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
  color: #FFF !important;
  background-color: #8B008B;
  opacity: 0.2;
}

.navbar-toggler {
  background-color: #FFF;
}

.row {
  margin: 5px 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.btn-primary {
  background-color: #8B008B !important;
  border-color: #00008B;
}

.card {
  height: 95%;
}
