img {
  position: relative;
  float: left;
  width:  100px;
  height: 250px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.title {
  margin: 20px;
  text-align: center;
}

.card {
  height: 95%;
}
